{{define "navbar"}}
<div class="container">
    <a class="navbar-brand" href={{.WebSiteLink}}>{{.WebSiteHome}}</a>
    <ul class="nav navbar-nav">
        <li><a href="/">{{.WebSiteTitle}}</a> </li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
        {{if .IsLogin}}
        <li><a href="/login?exit=true">退出</a></li>
        {{else}}
        <li><a href="/login">管理员登录</a></li>
        {{end}}
    </ul>
</div>
{{end}}